In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)

In [2]:
# Files to Load 
enroll1516_data_to_load = "SCHOOL_ENROLL.xls"
PIpercent1516_data_to_load = "1516_BUILDING_ACHIEVEMENT.xls"
VA1516_data_to_load = "1516_VA_org_DETAILS.xls"

In [3]:
enroll1516_data = pd.read_excel(enroll1516_data_to_load,sheet_name=[0, 1, 2])
PIpercent1516_data = pd.read_excel(PIpercent1516_data_to_load)
VA1516_data = pd.read_excel(VA1516_data_to_load)

In [4]:
#Function that filters data by District
def data_filter(df):
    return df[df["District IRN"] == 43786]

In [5]:
enroll1516_df0= data_filter(enroll1516_data[0])
enroll1516_df1= data_filter(enroll1516_data[1])

In [6]:
PIpercent1516_df=data_filter(PIpercent1516_data)

In [7]:
VA1516_df=data_filter(VA1516_data)

In [8]:
 #replace NC values with zero
enroll1516_df0.replace('NC', '0', inplace=True)
enroll1516_df1.replace('NC', '0', inplace=True)
VA1516_df.replace('NC', '0', inplace=True)
PIpercent1516_df.replace('NC', '0', inplace=True)
    
 #replace <10 value with zero
enroll1516_df0.replace('^.*<.*$', '0', regex=True, inplace=True)
enroll1516_df1.replace('^.*<.*$', '0', regex=True, inplace=True)
VA1516_df.replace('^.*<.*$', '0', regex=True, inplace=True)
PIpercent1516_df.replace('^.*<.*$', '0', regex=True, inplace=True)

In [9]:
# Function to concatenate all DataFrames from each Excel sheet into one single pandas DataFrame
def concat_function(df1, df2):
    df_concat1 = pd.concat([df1, df2])
    return pd.concat([df_concat1])

In [10]:
#Run concat function for 2015-2016,2016-2017 data
cmsd_enroll1516 = concat_function(enroll1516_df0, enroll1516_df1)

In [11]:
#Convert values into integers for Enrollment columns only
cmsd_enroll1516= cmsd_enroll1516.astype({'Pre-School Enrollment': 'int', 'Kindergarten Enrollment':'int',
       'First Grade Enrollment': 'int', 'Second Grade Enrollment': 'int',
       'Third Grade Enrollment': 'int', 'Fourth Grade Enrollment': 'int',
       'Fifth Grade Enrollment':'int', 'Sixth Grade Enrollment': 'int',
       'Seventh Grade Enrollment':'int', 'Eighth Grade Enrollment':'int',
       'Ninth Grade Enrollment ': 'int', 'Tenth Grade Enrollment': 'int',
       'Eleventh Grade Enrollment': 'int', 'Twelfth Grade Enrollment': 'int',
       'Thirteenth Grade Enrollment': 'int', 'Enrollment Past Twelfth Grade (Students with Disabilities)': 'int'})

In [12]:
#Convert values into integers for Performance Index Percent column
PI1516_df=  PIpercent1516_df.astype({'Performance Index Percent 2015-16':'float'})

In [13]:
#create a new column for enrollment total and use iloc to add from last column Preschool enrollment
cmsd_enroll1516['Enrollment 2015-2016'] = cmsd_enroll1516.iloc[:, -17:-1].sum(1)

In [14]:
#Keep necessary columns, drop all others
cmsd_enroll1516 = cmsd_enroll1516[['Building Name','Building IRN','Enrollment 2015-2016']]
VA1516_df= VA1516_df[['Building Name','Building IRN','Overall Value Added Grade']]
PI1516_df= PI1516_df[['Building Name','Building IRN','Performance Index Percent 2015-16']]

In [15]:
# Function to merge three dataframes into a single DataFrame
from functools import reduce
dfl=[cmsd_enroll1516, PI1516_df, VA1516_df]
cmsd_combined = reduce(lambda  left,right: pd.merge(left,right,on=['Building IRN'],how='outer'), dfl)

In [16]:
cmsd_combined

,Building Name_x,Building IRN,Enrollment 2015-2016,Building Name_y,Performance Index Percent 2015-16,Building Name,Overall Value Added Grade
0,Adlai Stevenson School,224,378,Adlai Stevenson School,36.6,Adlai Stevenson School,F
1,Almira,489,424,Almira,38.7,Almira,F
2,Andrew J Rickoff,729,406,Andrew J Rickoff,36.9,Andrew J Rickoff,F
3,Anton Grdina,828,325,Anton Grdina,32.4,Anton Grdina,F
4,Artemus Ward,1040,441,Artemus Ward,47.3,Artemus Ward,F
5,Benjamin Franklin,2378,533,Benjamin Franklin,54.1,Benjamin Franklin,F
6,Bolton,3137,300,Bolton,30.5,Bolton,F
7,Buhrer,4234,346,Buhrer,59.8,Buhrer,F
8,Case,5066,315,Case,32.3,Case,F
9,Alfred Benesch,5637,325,Alfred Benesch,32.7,Alfred Benesch,F
10,Charles A Mooney School,5892,461,Charles A Mooney School,43.5,Charles A Mooney School,F
11,Charles Dickens School,5900,337,Charles Dickens School,35.2,Charles Dickens School,F
12,Charles W Eliot School,5942,318,Charles W Eliot School,44.0,Charles W Eliot School,A
13,Clara E Westropp School,6353,352,Clara E Westropp School,48.8,Clara E Westropp School,F
14,Clark School,6429,517,Clark School,66.4,Clark School,A
15,Collinwood High School,6940,436,Collinwood High School,36.9,Collinwood High School,F
16,Daniel E Morgan School,8060,261,Daniel E Morgan School,39.0,Daniel E Morgan School,F
17,Denison,8383,329,Denison,42.3,Denison,F
18,Cleveland School of Arts Lower Campus,8490,317,Cleveland School of Arts Lower Campus,52.8,Cleveland School of Arts Lower Campus,F
19,Memorial School,8680,349,Memorial School,41.8,Memorial School,D
20,East Clark,8987,214,East Clark,37.8,East Clark,C
21,Douglas MacArthur,9285,290,Douglas MacArthur,68.4,Douglas MacArthur,F
22,Ginn Academy,9421,378,Ginn Academy,33.1,Ginn Academy,F
23,East Technical High School,9555,368,East Technical High School,32.3,East Technical High School,D
24,MC^2 STEM High School,10200,394,MC^2 STEM High School,38.1,MC^2 STEM High School,F
25,Design Lab @ Health Careers,10201,193,Design Lab @ Health Careers,38.3,Design Lab @ Health Careers,F
26,Euclid Park Elementary School,10801,315,Euclid Park Elementary School,42.0,Euclid Park Elementary School,F
27,Campus International School,12350,464,Campus International School,67.9,Campus International School,F
28,New Technology West,12352,285,New Technology West,42.5,New Technology West,D
29,New Technology HS@East Tech,12353,134,New Technology HS@East Tech,36.3,New Technology HS@East Tech,D
...,...,...,...,...,...,...,...
87,Willow School,41517,232,Willow School,38.6,Willow School,F
88,Willson School,41541,327,Willson School,39.2,Willson School,F
89,Lincoln-West High School,62315,716,Lincoln-West High School,35.6,Lincoln-West High School,F
90,Whitney Young School,62323,235,Whitney Young School,69.3,Whitney Young School,F
91,Luis Munoz Marin School,62760,540,Luis Munoz Marin School,34.6,Luis Munoz Marin School,F
92,Joseph M Gallagher School,62778,661,Joseph M Gallagher School,40.8,Joseph M Gallagher School,F
93,Garrett Morgan Schl Of Science School,63461,245,Garrett Morgan Schl Of Science School,43.4,Garrett Morgan Schl Of Science School,D
94,Cleveland School Of The Arts High School,64576,580,Cleveland School Of The Arts High School,55.4,Cleveland School Of The Arts High School,F
95,Marion C Seltzer Elementary School,65565,320,Marion C Seltzer Elementary School,42.6,Marion C Seltzer Elementary School,F
96,Marion-Sterling Elementary School,65573,283,Marion-Sterling Elementary School,41.9,Marion-Sterling Elementary School,B
97,Kenneth W Clement,68221,180,Kenneth W Clement,38.8,Kenneth W Clement,F
98,Health Careers Center High School,86306,431,Health Careers Center High School,32.6,Health Careers Center High School,F
99,SuccessTech Academy School,147389,74,SuccessTech Academy School,0.0,SuccessTech Academy School,NR
100,Cleveland School of Science & Medicine,147397,382,Cleveland School of Science & Medicine,76.0,Cleveland School of Science & Medicine,A
101,Menlo Park Academy,318,328,NaN,NaN,Menlo Park Academy,C
102,Cleveland Entrepreneurship Preparatory School,930,295,NaN,NaN,Cleveland Entrepreneurship Preparatory School,A
103,Village Preparatory School,11291,342,NaN,NaN,Village Preparatory School,F
104,Northeast Ohio College Preparatory School,11923,528,NaN,NaN,Northeast Ohio College Preparatory School,C
105,Cleveland College Preparatory School,12010,252,NaN,NaN,Cleveland College Preparatory School,D
106,Citizens Leadership Academy,12029,258,NaN,NaN,Citizens Leadership Academy,A
107,Near West Intergenerational School,12030,126,NaN,NaN,Near West Intergenerational School,C
108,Entrepreneurship Preparatory School - Woodland...,12031,270,NaN,NaN,Entrepreneurship Preparatory School - Woodland...,A
109,Citizens Academy East,12852,306,NaN,NaN,Citizens Academy East,F
110,Village Preparatory School:: Woodland Hills Ca...,13034,307,NaN,NaN,Village Preparatory School:: Woodland Hills Ca...,C
111,Stepstone Academy,13148,209,NaN,NaN,Stepstone Academy,F
112,Lakeshore Intergenerational School,14913,98,NaN,NaN,Lakeshore Intergenerational School,NR
113,Stonebrook Montessori,15239,70,NaN,NaN,Stonebrook Montessori,NR
114,Citizens Academy Southeast,15261,70,NaN,NaN,Citizens Academy Southeast,NR
115,"Intergenerational School, The",133215,208,NaN,NaN,"Intergenerational School, The",C
116,Citizens Academy,133520,376,NaN,NaN,Citizens Academy,F

In [17]:
#Create function that drops _y suffixes
def drop_y(df):
    # list comprehension of the columns that end with _y
    to_drop = [x for x in df if x.endswith('_y')]
    df.drop(to_drop, axis=1, inplace=True)

In [18]:
#Create function that drops _x suffixes
def drop_x(df):
    # list comprehension of the columns that end with _x
    to_drop = [x for x in df if x.endswith('_x')]
    df.drop(to_drop, axis=1, inplace=True)

In [19]:
#Run drop_y function for 1516 and 1617 data
drop_x(cmsd_combined)
drop_y(cmsd_combined)

In [20]:
cmsd_combined

,Building IRN,Enrollment 2015-2016,Performance Index Percent 2015-16,Building Name,Overall Value Added Grade
0,224,378,36.6,Adlai Stevenson School,F
1,489,424,38.7,Almira,F
2,729,406,36.9,Andrew J Rickoff,F
3,828,325,32.4,Anton Grdina,F
4,1040,441,47.3,Artemus Ward,F
5,2378,533,54.1,Benjamin Franklin,F
6,3137,300,30.5,Bolton,F
7,4234,346,59.8,Buhrer,F
8,5066,315,32.3,Case,F
9,5637,325,32.7,Alfred Benesch,F
10,5892,461,43.5,Charles A Mooney School,F
11,5900,337,35.2,Charles Dickens School,F
12,5942,318,44.0,Charles W Eliot School,A
13,6353,352,48.8,Clara E Westropp School,F
14,6429,517,66.4,Clark School,A
15,6940,436,36.9,Collinwood High School,F
16,8060,261,39.0,Daniel E Morgan School,F
17,8383,329,42.3,Denison,F
18,8490,317,52.8,Cleveland School of Arts Lower Campus,F
19,8680,349,41.8,Memorial School,D
20,8987,214,37.8,East Clark,C
21,9285,290,68.4,Douglas MacArthur,F
22,9421,378,33.1,Ginn Academy,F
23,9555,368,32.3,East Technical High School,D
24,10200,394,38.1,MC^2 STEM High School,F
25,10201,193,38.3,Design Lab @ Health Careers,F
26,10801,315,42.0,Euclid Park Elementary School,F
27,12350,464,67.9,Campus International School,F
28,12352,285,42.5,New Technology West,D
29,12353,134,36.3,New Technology HS@East Tech,D
...,...,...,...,...,...
87,41517,232,38.6,Willow School,F
88,41541,327,39.2,Willson School,F
89,62315,716,35.6,Lincoln-West High School,F
90,62323,235,69.3,Whitney Young School,F
91,62760,540,34.6,Luis Munoz Marin School,F
92,62778,661,40.8,Joseph M Gallagher School,F
93,63461,245,43.4,Garrett Morgan Schl Of Science School,D
94,64576,580,55.4,Cleveland School Of The Arts High School,F
95,65565,320,42.6,Marion C Seltzer Elementary School,F
96,65573,283,41.9,Marion-Sterling Elementary School,B
97,68221,180,38.8,Kenneth W Clement,F
98,86306,431,32.6,Health Careers Center High School,F
99,147389,74,0.0,SuccessTech Academy School,NR
100,147397,382,76.0,Cleveland School of Science & Medicine,A
101,318,328,NaN,Menlo Park Academy,C
102,930,295,NaN,Cleveland Entrepreneurship Preparatory School,A
103,11291,342,NaN,Village Preparatory School,F
104,11923,528,NaN,Northeast Ohio College Preparatory School,C
105,12010,252,NaN,Cleveland College Preparatory School,D
106,12029,258,NaN,Citizens Leadership Academy,A
107,12030,126,NaN,Near West Intergenerational School,C
108,12031,270,NaN,Entrepreneurship Preparatory School - Woodland...,A
109,12852,306,NaN,Citizens Academy East,F
110,13034,307,NaN,Village Preparatory School:: Woodland Hills Ca...,C
111,13148,209,NaN,Stepstone Academy,F
112,14913,98,NaN,Lakeshore Intergenerational School,NR
113,15239,70,NaN,Stonebrook Montessori,NR
114,15261,70,NaN,Citizens Academy Southeast,NR
115,133215,208,NaN,"Intergenerational School, The",C
116,133520,376,NaN,Citizens Academy,F

In [21]:
#Add new column School Year
cmsd_combined_df= cmsd_combined.assign(School_Year = '2015-2016')[['School_Year']+cmsd_combined.columns.tolist()]

In [22]:
cmsd_combined_df

,School_Year,Building IRN,Enrollment 2015-2016,Performance Index Percent 2015-16,Building Name,Overall Value Added Grade
0,2015-2016,224,378,36.6,Adlai Stevenson School,F
1,2015-2016,489,424,38.7,Almira,F
2,2015-2016,729,406,36.9,Andrew J Rickoff,F
3,2015-2016,828,325,32.4,Anton Grdina,F
4,2015-2016,1040,441,47.3,Artemus Ward,F
5,2015-2016,2378,533,54.1,Benjamin Franklin,F
6,2015-2016,3137,300,30.5,Bolton,F
7,2015-2016,4234,346,59.8,Buhrer,F
8,2015-2016,5066,315,32.3,Case,F
9,2015-2016,5637,325,32.7,Alfred Benesch,F
10,2015-2016,5892,461,43.5,Charles A Mooney School,F
11,2015-2016,5900,337,35.2,Charles Dickens School,F
12,2015-2016,5942,318,44.0,Charles W Eliot School,A
13,2015-2016,6353,352,48.8,Clara E Westropp School,F
14,2015-2016,6429,517,66.4,Clark School,A
15,2015-2016,6940,436,36.9,Collinwood High School,F
16,2015-2016,8060,261,39.0,Daniel E Morgan School,F
17,2015-2016,8383,329,42.3,Denison,F
18,2015-2016,8490,317,52.8,Cleveland School of Arts Lower Campus,F
19,2015-2016,8680,349,41.8,Memorial School,D
20,2015-2016,8987,214,37.8,East Clark,C
21,2015-2016,9285,290,68.4,Douglas MacArthur,F
22,2015-2016,9421,378,33.1,Ginn Academy,F
23,2015-2016,9555,368,32.3,East Technical High School,D
24,2015-2016,10200,394,38.1,MC^2 STEM High School,F
25,2015-2016,10201,193,38.3,Design Lab @ Health Careers,F
26,2015-2016,10801,315,42.0,Euclid Park Elementary School,F
27,2015-2016,12350,464,67.9,Campus International School,F
28,2015-2016,12352,285,42.5,New Technology West,D
29,2015-2016,12353,134,36.3,New Technology HS@East Tech,D
...,...,...,...,...,...,...
87,2015-2016,41517,232,38.6,Willow School,F
88,2015-2016,41541,327,39.2,Willson School,F
89,2015-2016,62315,716,35.6,Lincoln-West High School,F
90,2015-2016,62323,235,69.3,Whitney Young School,F
91,2015-2016,62760,540,34.6,Luis Munoz Marin School,F
92,2015-2016,62778,661,40.8,Joseph M Gallagher School,F
93,2015-2016,63461,245,43.4,Garrett Morgan Schl Of Science School,D
94,2015-2016,64576,580,55.4,Cleveland School Of The Arts High School,F
95,2015-2016,65565,320,42.6,Marion C Seltzer Elementary School,F
96,2015-2016,65573,283,41.9,Marion-Sterling Elementary School,B
97,2015-2016,68221,180,38.8,Kenneth W Clement,F
98,2015-2016,86306,431,32.6,Health Careers Center High School,F
99,2015-2016,147389,74,0.0,SuccessTech Academy School,NR
100,2015-2016,147397,382,76.0,Cleveland School of Science & Medicine,A
101,2015-2016,318,328,NaN,Menlo Park Academy,C
102,2015-2016,930,295,NaN,Cleveland Entrepreneurship Preparatory School,A
103,2015-2016,11291,342,NaN,Village Preparatory School,F
104,2015-2016,11923,528,NaN,Northeast Ohio College Preparatory School,C
105,2015-2016,12010,252,NaN,Cleveland College Preparatory School,D
106,2015-2016,12029,258,NaN,Citizens Leadership Academy,A
107,2015-2016,12030,126,NaN,Near West Intergenerational School,C
108,2015-2016,12031,270,NaN,Entrepreneurship Preparatory School - Woodland...,A
109,2015-2016,12852,306,NaN,Citizens Academy East,F
110,2015-2016,13034,307,NaN,Village Preparatory School:: Woodland Hills Ca...,C
111,2015-2016,13148,209,NaN,Stepstone Academy,F
112,2015-2016,14913,98,NaN,Lakeshore Intergenerational School,NR
113,2015-2016,15239,70,NaN,Stonebrook Montessori,NR
114,2015-2016,15261,70,NaN,Citizens Academy Southeast,NR
115,2015-2016,133215,208,NaN,"Intergenerational School, The",C
116,2015-2016,133520,376,NaN,Citizens Academy,F

In [23]:
grouped_date_df = cmsd_combined_df.groupby(['School_Year','Building Name', 'Overall Value Added Grade'])

df5=grouped_date_df.mean()
df5.head(20)

                                                                    Building IRN  \
School_Year Building Name                Overall Value Added Grade
2015-2016   Adlai Stevenson School       F                                   224
            Alfred Benesch               F                                  5637
            Almira                       F                                   489
            Andrew J Rickoff             F                                   729
            Anton Grdina                 F                                   828
            Artemus Ward                 F                                  1040
            Bard Early College Cleveland F                                 14920
            Benjamin Franklin            F                                  2378
            Bolton                       F                                  3137
            Buhrer                       F                                  4234
            Campus International School  F                                 12350
            Case                         F                                  5066
            Charles A Mooney School      F                                  5892
            Charles Dickens School       F                                  5900
            Charles W Eliot School       A                                  5942
            Citizens Academy             F                                133520
            Citizens Academy East        F                                 12852
            Citizens Academy Southeast   NR                                15261
            Citizens Leadership Academy  A                                 12029
            Clara E Westropp School      F                                  6353

                                                                    Enrollment 2015-2016  \
School_Year Building Name                Overall Value Added Grade
2015-2016   Adlai Stevenson School       F                                           378
            Alfred Benesch               F                                           325
            Almira                       F                                           424
            Andrew J Rickoff             F                                           406
            Anton Grdina                 F                                           325
            Artemus Ward                 F                                           441
            Bard Early College Cleveland F                                           249
            Benjamin Franklin            F                                           533
            Bolton                       F                                           300
            Buhrer                       F                                           346
            Campus International School  F                                           464
            Case                         F                                           315
            Charles A Mooney School      F                                           461
            Charles Dickens School       F                                           337
            Charles W Eliot School       A                                           318
            Citizens Academy             F                                           376
            Citizens Academy East        F                                           306
            Citizens Academy Southeast   NR                                           70
            Citizens Leadership Academy  A                                           258
            Clara E Westropp School      F                                           352

                                                                    Performance Index Percent 2015-16
School_Year Building Name                Overall Value Added Grade
2015-2016   Adlai Stevenson School       F                                                       36.6
            Alfred Benesch               F                                                       32.7
            Almira                       F                                                       38.7
            Andrew J Rickoff             F                                                       36.9
            Anton Grdina                 F                                                       32.4
            Artemus Ward                 F                                                       47.3
            Bard Early College Cleveland F                                                       60.8
            Benjamin Franklin            F                                                       54.1
            Bolton                       F                                                       30.5
            Buhrer                       F                                                       59.8
            Campus International School  F                                                       67.9
            Case                         F                                                       32.3
            Charles A Mooney School      F                                                       43.5
            Charles Dickens School       F                                                       35.2
            Charles W Eliot School       A                                                       44.0
            Citizens Academy             F                                                        NaN
            Citizens Academy East        F                                                        NaN
            Citizens Academy Southeast   NR                                                       NaN
            Citizens Leadership Academy  A                                                        NaN
            Clara E Westropp School      F                                                       48.8

In [24]:
df5.to_excel("cmsd1516.xls")